<h1>Hi,</h1>
<p>A new order has been posted recently from #{email} </p>
<p>Shipping Address - #{address}</p>
<p></p>
<p>Here is the order details - </p>
<table border="1" width="100%">
    <tr>
        <th>Material No.</th>
        <th>Description</th>
        <th>Quantity</th>
    </tr>
    #{materialRows}
</table>

