/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Regular.woff") format("woff");
}

#root-container {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  max-width: 1400px;
  height: 100vh;
  width: 100%;
  color: #295acc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}
form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h1 {
  margin-bottom: 2rem;
}

input {
  width: 50%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px #295acc solid;
  height: 40px;
  font-size: 1.3rem;
  color: #295acc;
  padding: 0.5rem 1rem;
  letter-spacing: 10px;
  margin-bottom: 2rem;
}

input::-webkit-input-placeholder {
  letter-spacing: normal;
  color: #8ca6e4;
}

input::-moz-placeholder {
  letter-spacing: normal;
  color: #8ca6e4;
}

input:-ms-input-placeholder {
  letter-spacing: normal;
  color: #8ca6e4;
}

input::-ms-input-placeholder {
  letter-spacing: normal;
  color: #8ca6e4;
}

input::placeholder {
  letter-spacing: normal;
  color: #8ca6e4;
}

button {
  padding: 0.5rem 1rem;
  color: #979797;
  font-size: 1.3rem;
  background: #8ca6e430;
  color: #295acc;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 57%;
  height: 60px;
}
