<h1>Hi #{recipientName},</h1>
p.  
    You have a new message from #{senderName}. 
p.
    Visit #{message_url}, or click the link below. 

<h3><a target="_blank" href="#{message_url}">My messages</a></h3>

p.
    *You must be logged in to view your messages. 
