<h1>Hi #{firstName},</h1>
p.
    To verify your email, please click on the link and
    enter the code below.

<h3><a target="_blank" href="#{verification_url}/email-verification?code=#{code}">Confirm my email</a></h3>

<h3>Confirmation code #{code}</h3>
